body {
  margin: 0;
}

.bg-image {
  top: 0;
  position: relative;
}

.login-card {
  position: absolute;
  top: 81px;
  left: 395px;
  width: 577px;
  height: 687px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  /* border: 1px solid red; */
}
.login-card-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 7px #00000029;
  border-radius: 6px 6px 0px 0px;
  opacity: 1;
  padding: 14px 0px;
  text-align: center;
}
.login-card-logo-section {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.login-title {
  color: #20b716;
  font-size: 29px;
  margin-bottom: 30px;
}

.login-card-input-section {
  display: flex;
  flex-direction: column;
  padding: 0 95px;
  margin-top: 24px;
}

input {
  border-bottom: 1px solid #e4e4e4;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 40px;
  color: #20b716;
}
::placeholder {
  color: #20b716;
  opacity: 1; /* Firefox */
}
input:focus {
  outline: none;
}
.login-button {
  height: 50px;
  background: #20b716 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
  border: none;
  color: #ffffff;
  font-size: 20px;
}
.forgot-password-section {
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.or-section {
  text-align: center;
  margin-bottom: 24px;
}
.login-button-options {
  box-sizing: border-box;
  background-color: #4285f4;
  height: 46px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 4px;
  margin-bottom: 16px;
}
.login-button-options span {
  width: 70%;
}
